*{
    box-sizing: border-box;
}

.con{
   max-width: 70%;
    margin: 10px auto;
   
}
.band-image{
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
    
}
p{
    font-family:'Times New Roman', Times, serif;
    color: #333;
}
h1{
    font-family:cursive;
    font-size: 2rem;
}