/* Ensure the whole page takes full height */
html,
body,
#root {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* This makes content expand and pushes the footer down */
.main-content {
    flex: 1;
}

/* Footer Styling */
footer {
    width: 100%;
}